body {
    background-color: var(--cor-de-fundo);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;


}



.container {
    background-color: var(--cor-de-fundo-secundaria);
    color: var(--cor-fonte);
    max-width: 330px;
    text-align: center;
    background-image: url(/src/images/background.jpg);
    background-size: cover;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0, 0.1) 0px 10px 50px;

}

.busca {

    padding: 20px;
    display: flex;
    gap: 5px;
    justify-content: center;

}

.busca input {
    background-color: var(--cor-input);
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.8;
}

.busca .btn-busca {
    background-color: var(--cor-input);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0.8px;

}

.busca .lupa {
    width: 40px;
    padding: 6px;
    opacity: 0.8;

}

.info-principal {
    margin: 30px;
}

.info-principal h1 {
  
    font-size: 18px;
}

.info-principal .temperatura {
    background-color: red;
    font-size: 70px;
    margin: 20px 0px;

}

.info-principal .condicacao {
    font-size: 20px;
}

.info-secundaria {
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: var(--cor-fonte-secundaria);
    padding: 20px 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.info-secundaria .humidade,
.info-secundaria .velocidade-do-vento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}