body {
    background-color: var(--cor-de-fundo);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}



.container {
    background-color: var(--cor-de-fundo-secundaria);
    color: var(--cor-fonte);
    max-width: 330px;
    text-align: center;
    background-image: url(/src/images/background.jpg);
    background-size: cover;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0, 0.1) 0px 10px 50px;

}